{% extends "store/base.html" %} {% block title %}Confirm delete{% endblock %}
{% block content %}
<div class="container pt-5">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Eliminar registro de entrega</legend>
            <h5>¿Estás seguro de que deseas eliminar el registro de entrega?"{{ object.item.name }}"</h5>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger btn-sm" type="submit">Si, Eliminar</button>
            <a class="btn btn-outline-success btn-sm" href="{% url 'deliverieslist' %}">No</a>
        </div>
    </form>
</div>
{% endblock content %}