{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Añadir Producto{%endblock title%}{% block content %}
<div class="col container p-5">
    <div class="row">
        <div class="col-md-3 col-lg-3"></div>
          <div class="col-md-6 col-lg-6">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <section class="section-bg" id="plans">
                    <fieldset class="form-group">
                        <header class="section-header">
                            <h1 class="text-success">Añadir Producto</h1>
                            <hr>
                        </header>
                        <label>Nombre Del Producto</label>
                        <span class="text-danger">{{form.name.errors }}</span>
                        {{form.name}}
                        <label>Categoria</label>
                        <span class="text-danger">{{form.category.errors }}</span>
                        {{form.category}}
                        <label>Cantidad Del Productos</label>
                        <span class="text-danger">{{form.quantity.errors }}</span>
                        {{form.quantity}}
                        <label>Precio De Venta</label>
                        <span class="text-danger">{{form.selling_price.errors }}</span>
                        {{form.selling_price}}
                        <label>Fecha De Caducidad</label>
                        <span class="text-danger">{{form.expiring_date.errors }}</span>
                          {{form.expiring_date}}
                          <label>Proveedor</label>
                          {{form.vendor}}
                    </fieldset>
                </section>
                <div class="form-group mt-4 text-center">
                    <button class="btn btn-success" type="submit">Guardar</button>
                    <a class="btn btn-danger" href="{% url 'productslist' %}">Cancelar</a>
                </div>
            </form>
        </div>
        <div class="col-md-3 col-lg-3"></div>
    </div>
</div>
{% endblock content %}