{% extends "store/base.html" %}{% load render_table from django_tables2 %}{% load querystring from django_tables2 %}{% load static %}{% block title %}Products{%endblock title%}{% block content %}
    <div class="col container p-5">
      <style>
       .header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 1200px;
            margin-bottom: 20px;
        }

        .header-container .btn {
            flex: 1;
        }

        .header-container .title {
            flex: 2;
            text-align: center;
            margin: 0;
            color: #333;
        }

        .table-container {
            width: 100%;
            max-width: 1200px;
        }

        .table-responsive {
            width: 100%;
            overflow-x: auto;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
        }

        .button-group {
            display: flex;
            gap: 3px;
            justify-content: center;
        }

        .button-group a {
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 4px;
        }
      </style>
      <div class="row">
        <div class="col-md-4">
          <a class="btn btn-sm btn-success" href="{% url 'product-create' %}">Añadir Producto</a>
        </div>
        <div class="col-md-4">
          <form class="input-group" role="search " id="searchform" action="{% url 'item_search_list_view' %}" method="get" accept-charset="utf-8">
            <div class="form-group">
                <div class="input-group ">
                    <input id="searchbox" name="q" type="text" class="form-control " placeholder="Buscar Productos">
                    <span class="input-group-btn">
                      <button class="btn btn-outline-success" type="submit">Buscar</i></button>
                    </span>
                </div>
            </div>
        </form>
        </div>
        <div class="col-md-4 float-end">
          <a class="btn btn-sm btn-success" href="{% querystring '_export'='xlsx' %}">
            <i class="fa-solid fa-download"></i>
            Export to Excel
          </a>
        </div>
      </div>
      <div class="table-container">
        <div class="mt-6 m-4" >
          <table class= "table table-sm table-responsive border border-secondary">
              <thead class="thead-dark">
                <tr class="table-success">
                  <th scope="col"><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}" style="color: #fcfcfd;">ID</a></th>
                  <th scope="col" style="color: #fcfcfd;">Name</th>
                  <th scope="col" style="color: #fcfcfd;">Category</th>
                  <th scope="col" style="color: #fcfcfd;">Quantity</i></th>
                  <th scope="col" style="color: #fcfcfd;">Price</th>
                  <th scope="col" style="color: #fcfcfd;">Expiring date</th>
                  <th scope="col" style="color: #fcfcfd;">Vendor</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
              {% for item in items %}
                <tr>
                  <th scope="row"><a> {{item.id}}</a></th>
                  <td>{{item.name}}</td>
                  <td>{{item.category}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.selling_price}}</td>
                  <th scope="col">{{item.expiring_date}}</th>
                  <td>{{item.vendor}}</td>
                  <td>
                    <div class="button-group">
                      <a class="text-info" href="{% url 'product-update' item.slug %}"><i class="fa-solid fa-pen"></i></a>
                      <a class="text-danger float-end" href="{% url 'product-delete' item.slug %}"><i class="fa-solid fa-trash"></i></a>
                    </div>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
          <div class="paginator">
            {% if is_paginated %}
            <ul class="pagination ">
                {% if page_obj.has_previous %}
                <li><a class="btn btn-sm accent-1 btn-outline-success " href="?page={{ page_obj.previous_page_number }} ">&laquo;</a></li>
                {% else %}
                <li class="disabled "><span class="btn btn-sm btn-outline-success ">&laquo;</span></li>
                {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
                <li class="active "><span class="btn btn-sm btn-success ">{{ i }} <span class="sr-only ">(current)</span></span>
                </li>
                {% else %}
                <li><a href="?page={{ i }} " class="btn btn-sm btn-outline-success ">{{ i }}</a></li>
                {% endif %} {% endfor %} {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }} " class="btn btn-sm btn-outline-success ">&raquo;</a></li>
                {% else %}
                <li class="disabled "><span class="btn btn-sm btn-outline-success ">&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
  {% endblock content %}